<!-- This is an example component -->


<div class="min-h-screen flex items-center px-4">
<%= link_to 'Create Task', new_tasks_path, class: "bg-purple-600 p-2 rounded-lg text-white " %>

    <div class='overflow-x-auto w-full'>

        <!-- Table -->
        <table class='mx-auto max-w-4xl w-full whitespace-nowrap rounded-lg bg-white divide-y divide-gray-300 overflow-hidden'>
            <thead class="bg-gray-50">
                <tr class="text-gray-600 text-left">
                    <th class="font-semibold text-sm uppercase px-6 py-4">
                        Name
                    </th>
                    <th class="font-semibold text-sm uppercase px-6 py-4">
                        Title
                    </th>
                    <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
                        status
                    </th>
                    <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
                        role
                    </th>
                    <th class="font-semibold text-sm uppercase px-6 py-4">
                        
                    </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                <tr>
                    <td class="px-6 py-4">
                        <div class="flex items-center space-x-3">
                            <div class="inline-flex w-10 h-10">
                                <img class='w-10 h-10 object-cover rounded-full' alt='User avatar' src='https://images.unsplash.com/photo-1477118476589-bff2c5c4cfbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=200&q=200'>
                            </div>
                            <div>
                                <p class="">
                                    Jane Doe
                                </p>
                                <p class="text-gray-500 text-sm font-semibold tracking-wide">
                                    jane20doe@mail.com
                                </p>
                            </div>
                        </div>
                    </td>
                    <td class="px-6 py-4">
                        <p class="">
                            Patwari at Betul
                        </p>
                        <p class="text-gray-500 text-sm font-semibold tracking-wide">
                            Management
                        </p>
                    </td>
                    <td class="px-6 py-4 text-center">
                        <span class="text-green-800 bg-green-200 font-semibold px-2 rounded-full">
                            Active
                        </span>
                    </td>
                    <td class="px-6 py-4 text-center">
                        Admin
                    </td>
                    <td class="px-6 py-4 text-center">
                        <a href="#" class="text-purple-800 hover:underline">Edit</a>
                    </td>
                </tr>
                <tr>
                    <td class="px-6 py-4">
                        <div class="flex items-center space-x-3">
                            <div class="inline-flex w-10 h-10">
                                <img class='w-10 h-10 object-cover rounded-full' alt='User avatar' src='https://images.unsplash.com/photo-1477118476589-bff2c5c4cfbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=200&q=200'>
                            </div>
                            <div>
                                <p class="">
                                    Jane Doe
                                </p>
                                <p class="text-gray-500 text-sm font-semibold tracking-wide">
                                    jane20doe@mail.com
                                </p>
                            </div>
                        </div>
                    </td>
                    <td class="px-6 py-4">
                        <p class="">
                            Patwari at Betul
                        </p>
                        <p class="text-gray-500 text-sm font-semibold tracking-wide">
                            Management
                        </p>
                    </td>
                    <td class="px-6 py-4 text-center">
                        <span class="text-green-800 bg-green-200 font-semibold px-2 rounded-full">
                            Active
                        </span>
                    </td>
                    <td class="px-6 py-4 text-center">
                        Admin
                    </td>
                    <td class="px-6 py-4 text-center">
                        <a href="#" class="text-purple-800 hover:underline">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>











